<p style="color: green"><%= notice %></p>
<div data-controller="hello"></div>

<h1>Posts</h1>

<%= turbo_stream_from :posts %>
<%= turbo_frame_tag :posts do %>
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
<% end %>

<%= link_to "New post", new_post_path %>
