<!DOCTYPE html>
<html>
<head>
  <title>RailsSeven</title>
  <%= action_cable_with_jwt_meta_tag current_user: current_user %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>

<%= button_to "Sign out",
              destroy_user_session_path,
              { method: :delete } if current_user
%>

<%= yield %>
</body>
</html>
